@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right top, from(#4daf54), to(#3d8880));
  background-image: linear-gradient(to right, #4daf54, #3d8880);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  width: 320px;
  height: 400px;
  background-color: #272d40;
  border-radius: 15px;
  color: #fff;
  padding: 20px;
}

.card__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 25px;
}

.card__icon a {
  color: #fff;
}

.card__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-right: 29px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card__content {
  text-align: center;
}

.card__title {
  color: #4daf54;
  font-size: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card__price {
  font-weight: 600;
  font-size: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card__hover {
  margin-top: 120px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.card__hover h2 {
  font-weight: unset;
  margin-right: 15px;
  font-size: 18px;
}

.card__size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.card__size span {
  color: #272d40;
  margin: 0 5px;
  border-radius: 5px;
  padding: 2px 9px;
  background-color: #fff;
}

.card__color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.card__color span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px;
}

.card__color--green {
  background-color: #4daf54;
}

.card__color--red {
  background-color: red;
}

.card__color--black {
  background-color: black;
}

.card__btn {
  padding: 10px 20px;
  background-color: #4daf54;
  color: #fff;
  margin-right: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: normal;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.card__btn:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.card:hover .card__img {
  -webkit-transform: translateY(-90px) rotate(-20deg);
          transform: translateY(-90px) rotate(-20deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card:hover .card__title {
  -webkit-transform: translate(-37px, -70px);
          transform: translate(-37px, -70px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card:hover .card__price {
  -webkit-transform: translate(-115px, -70px);
          transform: translate(-115px, -70px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card:hover .card__hover {
  margin-top: -45px;
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.pointer {
  cursor: pointer;
}

body {
  font-family: 'Poppins';
}
/*# sourceMappingURL=style.css.map */